# Flutter
## General
.flutter-plugins
.flutter-plugins-dependencies
.flutter-local.properties

## Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

## Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

## iOS
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework
**/ios/Flutter/FlutterPluginRegistrant/
**/ios/Flutter/GeneratedPluginRegistrant.h
**/ios/Flutter/GeneratedPluginRegistrant.m
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Pods/
**/ios/.generated/
**/ios/Flutter/ephemeral/

# Xcode
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*.xccheckout
**/ios/**/*.xcscmblueprint
**/ios/**/xcuserdata
**/ios/**/*.xcuserstate
**/ios/**/*.xcodeproj
**/ios/**/*.xcodeproj/xcshareddata/
**/ios/**/*.xcodeproj/xcuserdata/
**/ios/**/*.xcworkspace
**/ios/**/*.xcworkspace/xcshareddata/
**/ios/**/*.xcworkspace/xcuserdata/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
**/.idea/modules.xml
**/.idea/workspace.xml

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Django
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
db.sqlite3
*.sqlite3
*.log
local_settings.py
media

# Static files
/static
*.css
*.css.map
*.js
*.js.map

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
htmlcov/
.coverage
.coverage.*
