# Flutter (frontend)
## General
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/.flutter-local.properties

## Dart
/frontend/.dart_tool/
/frontend/.packages
/frontend/.pub-cache/
/frontend/.pub/
/frontend/build/

## Android specific to Flutter
/frontend/android/**/gradle-wrapper.jar
/frontend/android/.gradle
/frontend/android/captures/
/frontend/android/gradlew
/frontend/android/gradlew.bat
/frontend/android/local.properties
/frontend/android/**/GeneratedPluginRegistrant.java

## iOS specific to Flutter
/frontend/ios/**/Flutter/Flutter.framework
/frontend/ios/**/Flutter/Flutter.podspec
/frontend/ios/.symlinks/
/frontend/ios/Flutter/flutter_export_environment.sh
/frontend/ios/Flutter/Generated.xcconfig
/frontend/ios/Flutter/App.framework
/frontend/ios/Flutter/FlutterPluginRegistrant/
/frontend/ios/Flutter/GeneratedPluginRegistrant.h
/frontend/ios/Flutter/GeneratedPluginRegistrant.m
/frontend/ios/Runner/GeneratedPluginRegistrant.*
/frontend/ios/Pods/
/frontend/ios/.generated/
/frontend/ios/Flutter/ephemeral/

# Xcode for Flutter
/frontend/ios/**/*.mode1v3
/frontend/ios/**/*.mode2v3
/frontend/ios/**/*.moved-aside
/frontend/ios/**/*.pbxuser
/frontend/ios/**/*.perspectivev3
/frontend/ios/**/*.xccheckout
/frontend/ios/**/*.xcscmblueprint
/frontend/ios/**/xcuserdata
/frontend/ios/**/*.xcuserstate
/frontend/ios/**/*.xcodeproj
/frontend/ios/**/*.xcodeproj/xcshareddata/
/frontend/ios/**/*.xcodeproj/xcuserdata/
/frontend/ios/**/*.xcworkspace
/frontend/ios/**/*.xcworkspace/xcshareddata/
/frontend/ios/**/*.xcworkspace/xcuserdata/

# IntelliJ for Flutter
/frontend/.idea/
/frontend/*.iml
/frontend/*.ipr
/frontend/*.iws
/frontend/**/.idea/modules.xml
/frontend/**/.idea/workspace.xml

# VS Code for Flutter
/frontend/.vscode/

# Mac specific to Flutter
/frontend/.DS_Store

# Windows specific to Flutter
/frontend/Thumbs.db

# Django (backend)
/backend/*.pyc
/backend/__pycache__/
/backend/*.pyo
/backend/*.pyd
/backend/.Python
/backend/db.sqlite3
/backend/*.sqlite3
/backend/*.log
/backend/local_settings.py
/backend/media

# Django static files
/backend/static
/backend/*.css
/backend/*.css.map
/backend/*.js
/backend/*.js.map

# Django environment
/backend/.env
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/venv/  # Virtual environment

# Django pytest
/backend/.cache/
/backend/.pytest_cache/

# Django mypy
/backend/.mypy_cache/

# Django Coverage
/backend/htmlcov/
/backend/.coverage
/backend/.coverage.*


# Venv
/backend/venv